ALLOW_ORIGINS='*'
CHAINLINK_DEV=true
CHAINLINK_TLS_PORT=0
DATABASE_TIMEOUT=0
DATABASE_URL=postgresql://user:pwd@dbhost:dbport/dbname
ETH_DISABLED=true
LOG_LEVEL=debug
MIN_OUTGOING_CONFIRMATIONS=2
ROOT=/chainlink
SECURE_COOKIES=false
FEATURE_WEBHOOK_V2=true
FEATURE_EXTERNAL_INITIATORS=true
