SA_TX_TYPE=immortal
SA_PRIVATE_KEY=0xxxxxxxxxxxxxxx
SA_ENDPOINT=ws://sublink-parachain-ws:8844
CL_NODE_ENDPOINT=http://kovan-chainlink-deployment:6688
CL_NODE_ACCESS_KEY=xxxxxxxxxxxxxxxxx
CL_NODE_ACCESS_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
